<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meu Client WebSocket</title>
    <meta name="description" content="chateadeiro">
    <meta name="author" content="Horácio Dias">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">

    <link rel="icon" type="static/image/png" href="images/favicon.png">

    <script type="text/javascript" src="static/js/reconnecting-websocket.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="mensagem" class="row">
        {% for mensagem in mensagens %}
          {% block mensagem %}
            {{ mensagem }}</br>
          {% end %}
        {% end %}
      </div>
    <form onsubmit="return send();">
      <div class="row">
        <div class="six columns">
          <input type="text" id="input" class="u-full-width">
        </div>
        <div class="six columns">
          <button onclick="send()" type="button" class="u-full-width">Enviar</button>
        </div>
    </form>
    <script type="text/javascript">
      var mensagens = 0;
      var usuario = prompt("Qual seu nome:", "");
      while (usuario == null) {
          usuario = prompt("Qual seu nome:", "");
      }
      var socket;
      // Usando Conexão segura
      // socket = new WebSocket('wss://'+location.host+'/1');
      socket = new ReconnectingWebSocket('{{protocol}}://'+location.host+'/1', null, {debug: true, reconnectInterval: 3000});
      // Não usando Conexão segura
      //socket = new WebSocket('ws://'+location.host+'/1');
      socket.onerror = function(evento){
        console.log(evento);
      }
      socket.onopen = function(){
        console.log('Conexão foi aberta!');
      }
      socket.onmessage = function(mensagem){
        console.log('Nova Mensagem:'+ mensagem.data);
        mensagens += 1;
        document.title = (mensagens + " - Meu Client WebSocket");
        document.getElementById('mensagem').innerHTML += "<br />"+mensagem.data;
      }
      var send = function(){
        var mensagem = document.getElementById('input').value;
        document.getElementById('mensagem').innerHTML += "<br />"+usuario+":"+mensagem;
        socket.send(usuario+":"+mensagem);
        document.getElementById('input').value = "";
        return false;
      }
      window.onfocus = function(){
        document.title = "Ok - Meu Client WebSocket";
        mensagens = 0;
      }
    </script>
  </body>
</html>
